@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

input {
  caret-color: red;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
}



.calculator-container{
    display: flex;
    position: relative;
    width: 500px;
    height: 250px;
    border-radius: 20px;
    padding-right: 80px;
    padding-left: 10px;
    box-sizing: border-box;
}

.history-container{
    display: block;
    position: relative;
    width: 500px;
    height: 350px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 50px;
    box-sizing: border-box;
}

.history-ui{
  display: flex;
}

.history-ui > .btn-group{
    margin-right: 20px;
    width: 50%;
}

.history-ui > .inputs{
    width: 50%;
    padding-left: 10px;
}

.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #1DA1F2;
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin-top: 28px;
  margin-right: 30px;
}


.outputs{
    text-align: left;
    margin-top: 32px;
}

.btn-group{
    display: block;
    width: 30%;
    margin-top: 25px;
}


label, input, button, textarea{
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input, textarea{
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  color: white;
  margin-top: 10px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
}

a {
  position: absolute;
  font-size: 8px;
  bottom: 4px;
  right: 4px;
  text-decoration: none;
  color: black;
  background: yellow;
  border-radius: 10px;
  padding: 2px;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
}


.history-logs{
  margin-top: 40px;
  margin-right: 30px;
}

table, thead, tbody, tr{
  border-radius: 20px;
}

tbody{
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.table-scroll{
  /*width:100%; */
  display: block;
  empty-cells: show;
}

.table-scroll thead{
  background-color: #f1f1f1;  
  position:relative;
  display: block;
  width:100%;
  overflow-y: scroll;
}

.table-scroll tbody{
  /* Position */
  display: block; position:relative;
  width:100%; overflow-y:scroll;
  /* Decoration */
  border-top: 1px solid #1DA1F2;
}

.table-scroll tr{
  width: 100%;
  display:flex;
}

.table-scroll td,.table-scroll th{
  flex-basis:100%;
  flex-grow:2;
  display: block;
  padding: 1rem;
  text-align:center;
}

/* Other options */

.table-scroll.small-first-col td:first-child,
.table-scroll.small-first-col th:first-child{
  flex-basis:20%;
  flex-grow:1;
}

.table-scroll tbody tr:nth-child(2n){
  background-color: #1DA1F2;
}

.table-scroll{
  /*width:100%; */
  display: block;
  empty-cells: show;
}

.table-scroll thead{
  background-color: #f1f1f1;  
  position:relative;
  display: block;
  width:100%;
  overflow-y: scroll;
}

.table-scroll tbody{
  /* Position */
  display: block; position:relative;
  width:100%; overflow-y:scroll;
  /* Decoration */
  border-top: 1px solid rgb(255, 255, 255);
}

.table-scroll tr{
  width: 100%;
  display:flex;
}

.table-scroll td,.table-scroll th{
  flex-basis:100%;
  flex-grow:2;
  display: block;
  padding: 1rem;
}

.table-scroll th{
  background-color: #1DA1F2;
  color: white;
  font-size: 17px;
}


.table-scroll tbody tr:nth-child(2n){
  background-color: #cbcfd1;
}


.body-half-screen{
  max-height: 25vh;
}




