<div class="history-container">
    <div class="history-ui">
        <div class="btn-group">
            <button class="btn-sqrt" (click)="getNHistory()">Show History</button>
        </div>
        <div class="inputs">
            <input class="input-area" [(ngModel)] = "n" type="number" placeholder="5" />
        </div>
    </div>
    
    <div class="history-logs">
        <table class="table-scroll small-first-col">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Operation</th>
                    <th>Operand</th>
                </tr>
            </thead>
            <tbody class="body-half-screen">
                <tr *ngFor= "let operation of operationhistory">
                    <td>{{operation.id}}</td>
                    <td>{{operation.name}}</td>
                    <td>{{operation.number}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>